In [1]:
import pandas as pd

x = {"price":[1.2,1.3, 1,4]}

x_df = pd.DataFrame(x)
x_df

x_df["y"] = [10, 20,30, 40]

x_df

   price   y
0    1.2  10
1    1.3  20
2    1.0  30
3    4.0  40

In [3]:
x_df["price"][0]

1.2

In [6]:
print(x_df["y"].unique()[0])

10